extends layout

block content
 include form-errors

 h1 Update Book Listing
 form(action=`/books/${book.id}/edit`, method='post')
  p 
   label(for='title') Title       
   input#title(name='title', type='text', value=book.title)
  p
   label(for='author') Author
   input#author(name='author', type='text', value=book.author)
  p
   label(for='genre') Genre
   input#title(name='genre', type='text', value=book.genre)
  p 
   label(for='Year') Year
   input#title(name='year', type='text', value=book.year)
  p
   input(type='submit', value='Update Book')
  p
   a(class='button', href=`/books/${book.id}/delete`) Delete Book 
  p
   a.button(href='/books') Cancel operation    