extends layout

block content

  h1=title
  p 
  form(method= 'get', action= '/books/search' )
    label(for='search') Search
    input#search(name='search', type= 'text')
    button Search
  p

  p
    a.button(href="/books/new") Create New Book
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            a(href=`/books/${book.id}`)=book.title
          td=book.author
          td=book.genre
          td=book.year
  
  
  
  -var i = 1
    while i <= totalPages
      a( class = 'button', href=`/books/page/${i++}`)  #{i - 1}